*.o

bearing-calculator/vorify
bluetooth-server/bluetooth-server
identify-station/identify-station
main/vorify
stations-within-range/stations-within-range
wrap-bearing-calculator/wrap-bearing-calculator
wrap-identify-station/wrap-identify-station
intersection/intersection
distance-from-location/distance-from-location
mock-bearing/mock-bearing
create-mock-data/create-mock-data

venv
